absl-py==0.1.6
astor==0.6
cycler==0.10.0
deap==1.2.2
gast==0.2.0
grpcio==1.16.1
h5py==2.8.0
imageio==2.5.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
mock==2.0.0
numexpr==2.6.8
numpy==1.13.3
pbr==5.1.1
Pillow==5.4.1
pkg-resources==0.0.0
protobuf==3.6.1
pyparsing==2.3.0
python-dateutil==2.7.5
scipy==1.1.0
six==1.10.0
tables==3.4.4
tensorboard==1.12.0
tensorflow==2.7.2
tensorflow-estimator==1.11.0
termcolor==1.1.0
Werkzeug==0.14.1
